{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>All Posts</h2>

    <div class="border rounded m-2 p-4">
        <h4>New Post</h4>
        <form action="{% url 'posts' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea autofocus class="form-control" name="content"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>

    <div class="border rounded m-2 p-4" id="post-content">
        geez
    </div>    

{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}